*.json
*_th.v
add4_comb.vhd
add4_qdi.vhd
w_comb/
w_qdi/
reg4rtl.json
reg4_qdi.v
reg4_qdi.vhd
reg4_qdi.json
wreg/
wq/
pipe3.json
pipe3_qdi.*
pinc.json
pinc_qdi.*
wp/
wi/
accm.json
accm_desync.vhd
wam/
add4.json
add4_th_full.v
add4_th_clean.v
add4_th.def
add4_th.odb
th_route_drc.rpt
cel_demo.def
cel_drc.rpt
wc/
